{% extends "layout.html" %}
{% block content %}
<div class="row pt-5 ml-5 pl-5">
    <div class="col"></div>
    <div class="col-9 pl-5 ml-5 pt-2 bg-secondary about-box">
        <h2 class="text-light">About this Website:</h2>
        <p class="text-light">This website predicts the type of ball from file upload of a picture of the ball,
            drawing the ball or using the web camera to capture the ball.
            <br>
            Project done by Ethan and Joshua
        </p>
    </div>
    <div class="col"></div>
</div>
{% endblock %}