{% extends "layout.html" %}
{% block content %}
<div class="row pt-5">
    <div class="col">
        <ul class="home_menu">
            <li class="nav-item">
                <a href="{{ url_for('routes.home') }}" class="nav-link">New
                    Prediction</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link active">
                    >> Dashboard</a>
            </li>
        </ul>
    </div>
    <div class="col-6 col-sm-7 col-md-6 col-lg-5 col-xl-6">
        {% from "includes/macros.html" import render_card %}
        {% for pred in all_predictions %}
            {{ render_card(url_for('static', filename='img/' + pred.filepath), ['Basketball', 'Tennis Ball'][pred.prediction - 1], pred.uploaded_on) }}
        {% endfor %}
    </div>
    <div class="col"></div>
</div>
{% endblock %}
