{% extends "layout.html" %}
{% block content %}
<div class="row pt-5">
    <div class="col">
        <ul class="home_menu">
            <li class="nav-item">
                <a href="{{ url_for('routes.home') }}" class="nav-link">New
                    Prediction</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link active">
                    >> Dashboard</a>
            </li>
        </ul>
    </div>

    <div class="col-6 col-sm-7 col-md-6 col-lg-5 col-xl-6">
        <div class="row">
            <div id="chart" class="chart"></div>
        </div>
        {% from "includes/macros.html" import render_card %}
        {% for pred in all_predictions %}
        {{ render_card(pred.id, url_for('routes.fetch_image', filename=pred.filepath), pred.ball_type.capitalize(),
        pred.uploaded_on.strftime("%d %b %y %H:%M")) }}
        {% endfor %}
    </div>
    <div class="col"></div>

    <script type='text/javascript' defer>
        var graphs = {{ graphJSON | safe}};
        Plotly.plot('chart', graphs, {});
    </script>
</div>
{% endblock %}
